* {
  border: palegreen solid;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  background-image: url('Assets/Iteration-1-assets/home-banner.png');
  background-size: cover;
  background-position: center;
  background-position-y: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-color: #CE2829;
  border:0px;
  margin:0px;

}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 45px;

}
.logo {
  width: 350px;
  margin-bottom: 20px;
}

.main-heading {
  font-family: "Roboto Condensed";
  line-height: 92px;
  font-size: 4rem;
  color:white;
  text-align: center;
  flex-wrap: wrap;
  font-weight: 300;
  
}
.order-button{
  background-color: #FDC913;
  width: 194px;
  height: 56px;
  color: black;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-family: "Barlow";
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50px;
}
.header {
  display: flex;
  background-color: #CE2829;
  text-align: center;
  position: relative;
  padding: 45px;
  align-content: center;
  flex-direction: column;
}

.logo-order {
  max-width: 350px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 45px;
}
nav {
  font-family: 'Barlow';
  width:  600px;
  align-self: center;
  text-align: left;
  font-size: 1rem;
}
.breadcrumb-light {
  color: rgba(255, 255, 255, 0.6)
}
.breadcrumb-dark {
  color: white;
  font-weight: bold;
}
.order-form-container {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  padding: 30px;

}
h2{
  font-family:'Barlow' ;
}

p{
  font-family: 'Barlow';
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
